.cartViewProducts{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.cartTable{
    background-color: rgba(153, 152, 152, 0.5);
    margin: 2rem 0px;
}
.cartTableTitles{
    background-color: black;
    color: white;
    pad: 0.4rem;
}
.cartPaymentInformation{
    margin-left: 1rem;
    color: black;
    display: flex;
    width: 70%;
}
.cartInformation{
    width: 100%;
}
.cartInformation button{
    width: 20vw;
    padding: .3rem;
    border-radius: .4rem;
    border: none;
    background-color: black;
    color: white;
    font-size: .8rem;
}
.cartInformation select{
    width: 25vw;
    margin: 10px;
    padding: .3rem;
    border-radius: .4rem;
    border: none;
    background-color: black;
    color: white;
    font-size: .8rem;
}
.cartInformation h1{
    color: black;
    padding: 0px;
    margin: 0px;
    padding: 1rem;
}
.cartInformation h3{
    margin: 1rem;
}
@media (min-width: 768px){
    .cartContainer{
        display: flex;
        padding: 1rem;
        justify-content: space-between;
        height: 70%;
        
    }
    .cartViewProducts{
        width: 50%;
    }
    .cartInformation{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
    }
    .cartPaymentInformation{
        height: 60vh;
        width: 100%;
    }
    .cartPaymentInformation{
    align-self: baseline;
    width: 30%;
}
}
@media (min-width: 1200px){}