.cartViewProducts{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.cartTable{
    background-color: rgba(153, 152, 152, 0.5);
    margin: 2rem 0px;
}
.cartTableTitles{
    background-color: black;
    color: white;
    pad: 0.4rem;
}
.cartPaymentInformation{
    margin-left: 1rem;
    background-color: rgba(153, 152, 152, 0.5);;
    color: black;
    display: flex;
    width: 70%;
}
.cartInformation{
    width: 100%;
}
.cartInformation h1{
    background-color: black;
    color: white;
    padding: 0px;
    margin: 0px;
    padding: 1rem;
}
.cartInformation h3{
    margin: 1rem;
}
@media (min-width: 768px){
    .cartContainer{
        display: flex;
        padding: 1rem;
        justify-content: space-between;
        align-items: center;
    }
    .cartViewProducts{
        width: 60%;
    }
    .cartPaymentInformation{
    align-self: baseline;
    width: 30%;
}
}
@media (min-width: 1200px){}