.productModalMainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: brightness(90%) blur(2px);
    color: white;
}
.productModalContainer{
    position: absolute;
    top: 10%;
    width: 70%;
    padding: 1rem;
    background-color: white;
    color: black;
    border-radius: 1rem;
    justify-content: space-around;
}
.productModalInputMainContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 90%;
}
.productModalInputContainer{
    display: flex;
    flex-direction: column;
}
.productModalInputContainer input{
    margin: .5rem;
    padding: .2rem;
    width: 80%;
}
.productModalInputContainer select{
    width: 80%;
    margin: .5rem .5rem;
    padding: .3rem;
    border-radius: .4rem;
    border: none;
    background-color: black;
    color: white;
    font-size: .8rem;
}
.productModalButtons button{
    width: 20vw;
    margin-right: 10px;
    padding: .3rem;
    border-radius: .4rem;
    border: none;
    background-color: black;
    color: white;
    font-size: .8rem;
}
.productModalImgInputContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (min-width: 768px){
    .productModalInputMainContainer{
        flex-direction: row;
    }
    .productModalContainer{
        width: 65%;
        height: 30%;
        border-radius: 1rem;
    }
    .productModalInputContainer{
        height: 100%;
        width: 50%;
        flex-direction: column;
    }
    .productModalInputContainer{
        width: 100%;
    }
    .productModalInputContainer input{
        padding: .2rem;
        width: 65%;
    }
    .productModalInputContainer select{
        width: 50%;
    }
    .productModalInputMainContainerDescription{
        width: 50%;
    }
}