.catalogProductMainContainer{
    display: flex;
    flex-direction: column;
}
.catalogProductContainer{
    padding: 1rem;
    width: 90%;
    height: 60%;
}
.catalogProductProductsContainer{
    width: 100%;
}
.CatalogProductListProducts {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    gap: 5px;
}

@media (min-width: 768px){
    .catalogProductContainer{
        display: flex;
    }
    .catalogProductProductsContainer{
        width: 60%;
    }
    .CatalogProductListProducts{
        grid-template-columns: repeat(4, 0.5fr);
    }
}