.carouselMainContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    padding: 1rem;
}
.caruselCardsListContainer{
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
}
.carouselMainContainer button{
    height: 10vh;
}