.carouselCardMainContainer{
    display: flex;
    flex-direction: column;
    
    background-color:rgba(153, 152, 152, 0.5) ;
}
.carouselCardMainContainer h4{
    padding: 0%;
    margin: 5px;
}
.carouselCardMainContainer h3{
    padding: 0%;
    margin: 5px;
}
.carouselCardImageContainer img{
    margin: 5px;
    width: 100%;
    height: 100%;
}