.carouselCardMainContainer{
    display: flex;
    flex-direction: column;
    height: 10%;
}
.carouselCardMainContainer h4{
    padding: 0%;
    margin: 5px;
}
.carouselCardMainContainer h3{
    padding: 0%;
    margin: 5px;
}
.carouselCardImageContainer img{
    margin: 5px;
    width: 100%;
    height: 100%;
}